/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Asar");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

#main {
  width: 320px;
  height: 300px;
  overflow: hidden;
  position: relative; }

#mainslide {
  width: 2880px;
  height: 300px;
  position: absolute; }

#title {
  padding-top: 120px;
  width: 320px;
  height: 180px;
  color: #fff;
  float: left;
  text-align: center; }
  #title h1 {
    font-size: 40px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px #000; }
  #title h2 {
    font-size: 30px;
    text-shadow: 1px 1px 1px #000; }

#about, #skill, #work, #contact {
  color: #fff;
  width: 320px;
  height: 300px;
  float: left; }

#about h1, #skill h1, #work h1, #contact h1 {
  text-align: center;
  font-size: 30px; }

@media screen and (min-width: 1290px) {
  #wrapper {
    width: 1290px;
    height: 660px;
    background-image: url(../../img/bg1.png);
    background-repeat: no-repeat; }
  #main {
    position: relative;
    width: 6450px;
    height: 360px;
    padding-top: 190px; }
    #main #title {
      width: 1290px; }
      #main #title h1,
      #main #title h2 {
        color: #fff;
        text-align: center; }
      #main #title h1 {
        text-shadow: 3px 3px 1px #000;
        font-size: 84px; }
      #main #title h2 {
        text-shadow: 3px 3px 4px #000;
        font-size: 64px; }
    #main li {
      width: 1290px;
      float: left; }
  #about, #skill, #work, #contact {
    color: #fff; }
    #about h1, #skill h1, #work h1, #contact h1 {
      text-align: center;
      font-size: 84px;
      margin-bottom: 45px; }
    #about h2, #skill h2, #work h2, #contact h2 {
      font-size: 30px;
      text-align: center; }
    #about table, #skill table, #work table, #contact table {
      width: 30%;
      font-size: 30px;
      float: left;
      margin-right: 5%;
      margin-left: 10%; }
      #about table th, #skill table th, #work table th, #contact table th {
        line-height: 2em;
        text-align: left; }
    #about #history, #skill #history, #work #history, #contact #history {
      width: 30%;
      float: left;
      font-size: 16px;
      line-height: 1.5em;
      margin-right: 10%;
      margin-left: 5%; }
  #about {
    background-image: url(../../img/bg2.png); } }

#gnav {
  text-align: center;
  font-size: 20px;
  width: 320px;
  display: none;
  height: 120px; }
  #gnav li {
    background-color: rgba(0, 0, 0, 0.3);
    height: 24px; }
    #gnav li:nth-child(even) {
      background-color: rgba(255, 255, 255, 0.3); }
  #gnav a {
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    text-shadow: 2px 2px 1px #000;
    display: block; }

#btn {
  clear: both;
  width: 62px;
  height: 20px;
  font-size: 20px;
  color: #fff;
  background-color: aquamarine; }

#wrapper {
  margin: 0 auto;
  position: relative;
  max-width: 1290px;
  width: 320px;
  height: 480px;
  background-image: url(../../img/bg.jpg);
  background-size: 320px 480px; }

img {
  max-width: 100%; }

.cf::after {
  content: "";
  display: block;
  clear: both; }

body {
  font-family: 'Asar', serif;
  background-color: #111;
  letter-spacing: 4px; }

#footer {
  height: 20px;
  text-align: center;
  color: #fff; }
