#gnav {
    width: 100%;
    padding-left: 12.5%;
    text-align: center;
    height: 40px;
    li {text-shadow: 2px 2px 1px #000;
        width: 15%;
        font-weight: bold;
        font-size: 30px;
        float: left;
        border-right: 1px solid #fff;
        &:nth-child(5){
            border-right: none;
        }
    }
    a {
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid #fff;
    }
}
